<div id="principal">
    <div class="container">
        <div class="profile">
            <div class="profile-container">
                <div class="profile-profileimg">
                    <img src="img/dj.jpeg" alt="bild pa kalab" class="profile-image">
                </div>
                <div class="profile-name">
                    <h1>
                        <span class="profile-fname">kalab </span>
                        <spand class="profile-lname">Tadesse</span>
                    </h1>
                    <p class="profile-title"> Software Developer Student</p>
                    <p class="description"> My name is kalab Tadesse I'm 23-year-old software engineering student at
                        Jönköping University, with a deep passion for technology and innovation. I am focused on
                        developing creative software
                        solutions and staying up-to-date with the latest industry trends. I am very dedicated to
                        building a
                        successful career in software development, constantly honing my skills through challenging
                        projects
                        and hands-on learning experiences.
                    </p>
                </div>
            </div>
        </div>
        <div class="group-1">
            <div class="ref">
                <h3 class="title">reference</h3>
                <div class="ref-item">
                    <h4 class="ref-name">Sarah Petterson</h4>
                    <p class="description">
                        Sarah was my employer at Stena Fastigheter, where i spent my whole summer 2024 working.
                    </p>
                </div>
                <div class="ref-item">
                    <h4 class="ref-name">Leo Razzak</h4>
                    <p class="description">
                        Leo was i one of my superiors during my time at Värmevärket,
                        we worked closely during many crucial moments on work.
                </div>
            </div>
            <div class="edu">
                <h3 class="title">education</h3>
                <div class="edu-item">
                    <p class="item-pretitle">2023 - 2026</p>
                    <h4 class="item-title">BSc in CS </h4>
                    <p class="item-subtitle">Jönköping University</p>
                </div>
                <div class="edu-item">
                    <p class="item-pretitle">2022 - 2023</p>
                    <h4 class="item-title">Teknist basår </h4>
                    <p class="item-subtitle">Jönköping University</p>
                </div>
            </div>
            <div class="language">
                <h3 class="title">language</h3>
                <ul class="skills-list description">
                    <li>Swedish</li>
                    <li>English</li>
                    <li>Amaharic</li>
                </ul>
            </div>
            <div class="interest">
                <h3 class="title">interest</h3>
                <div class="int-items">
                    <div class="interest-item">
                        <i data-feather="book"></i>
                        <span>Learning</span>
                    </div>
                    <div class="interest-item">
                        <i data-feather="map"></i>
                        <span>Travel</span>
                    </div>
                    <div class="interest-item">
                        <i data-feather="shield"></i>
                        <span>IT-Security</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-2">
            <div class="exp">
                <h3 class="title">Experience</h3>
                <div class="exp-item">
                    <p class="item-pretitle">2024 June - 2024 Aug</p>
                    <h4 class="item-title">Group leader at Stena fastigheter</h4>
                    <p class="item-subtitle">As the group leader, I was responsible for overseeing
                        a team of dedicated summerworkers in managing various property development
                        projects. My role included coordinating daily operations, ensuring effective
                        communication between team members, and maintaining a high standard of quality across
                        all assignments. I worked closely with different departments to streamline processes,
                        troubleshoot issues, and implement solutions. This experience
                        strengthened my leadership skills and gave me valuable insights into project management
                        and team dynamics.</p>
                </div>
                <div class="exp-item">
                    <p class="item-pretitle">2023 Juni - 2024 aug</p>
                    <h4 class="item-title">Project leader at Värme Värket</h4>
                    <p class="item-subtitle">As a project leader at Värme Värket,
                        a non-profit creative hub offering grants, workshops, and
                        workspace for creatives and artists, I was responsible for
                        overseeing key projects and coordinating events. My role included
                        managing project timelines, facilitating workshops, and collaborating
                        with various artists and creators. This experience strengthened my skills
                        in organizing creative initiatives, fostering community engagement, and supporting
                        a collaborative environment focused on artistic development and event management</p>
                </div>
            </div>
            <div class="audio">
                <h3 class="title">A short summary</h3>
                <p class="about-audio-text">
                    Here’s a brief audio snapshot of my journey, 
                    crafted with AI to sound like a podcast-style 
                    introduction to my CV. While some details are creatively 
                    enhanced, most of it genuinely reflects my experience and background.
                </p>
                <audio controls>
                    <source src="audio/Untitled-notebook.wav" type="audio/wav">
                </audio>
            </div>
        </div>
    </div>