<div id="home-container">
  <div class="home-title">
    <h1>Welcome to My Portfolio</h1>
  </div>
  <div class="home-info">
    <div class="home-me">
      <h3>
        Hi, I'm Kalab Tadesse, a 23-year-old software engineering student
        at JU with a deep passion for technology. I love turning ideas into
        innovative software solutions. My journey revolves around mastering coding,
        problem-solving, and keeping pace with the latest tech trends. I'm driven to excel in software engineering
        and look forward to shaping the future of technology.
      </h3>
    </div>
    <div class="home-img">
      <div class="home-me">
        <h3>Note: Some of the information, like the listed projects,
           may not fully reflect professional experience. They represent 
           academic projects completed as part of my coursework and training. </h3>
      </div>
      <img src="img/computerenginer.png" alt="img/computerenginer.png">
    </div>
  </div>
</div>