<div class="skills-container"></div>
        <h1 class="name">Skills</h1>
        <div class="pro-info">
            <ul>
                {{#each skills}}
                <li>name: {{sname}},
                    desc: {{sdesc}}
                     type: {{stype}}
                    {{/each}}
            </ul>
        </div>
</div>