*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#ff7613;
    --text-color:#727171; 
}

html {
font-size: 10px;
}
body{
    font-family: sans-serif ;
    background-color: black;
    color: white;
}

/* common styles */
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.item-pretitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

.item-title{
    font-size: 1.6rem;
    color: white;
    font-weight:500;
    margin: 0.8rem 0;
}

.item-subtitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}
/* layout */

.container{
max-width: 1000px;
width: 90% ;
margin: 0 auto;
display: grid;
padding: 5rem;
background: rgb(28, 31, 28);
grid-template-columns: 1fr 1fr;
gap: 4rem;
}

@media only screen and (max-width: 768px){
    .container{ 
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}

.profile{
    grid-column: 1/-1;
    margin-bottom: 2rem;
}

.group-1,
.group-2{
display: flex;
flex-direction: column;
gap: 4rem;
}
 
/* profile */

.profile-container{
    display:flex;
    gap: 2rem;
}

.profile-image:hover {
    
    transform: 
            translateY(30px)
            rotateY(180deg)
            scale(1.1);
   
}

.profile-image {
    width: 250px;
    border-radius: 50%;
    transition: transform 3s ease;
    transform: rotateY(0deg);
   
}
#mybatman{
width: 70px;
border-radius: 80%;
position: absolute;
left:60vw;
top:40vh;

}



.profile-fname{
    color: white;
    font-weight: 200;
    font-size: clamp(2rem,8vw,4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.profile-lname{
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem,15vw,7rem);
    text-transform: uppercase;
    display: block;
}

.profile-title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px){
    .profile-container{ 
       flex-direction: column;
    }
}

/* refrences */

.ref{
    margin-top: 2rem;
}

.ref-name{
    font-size: 1.6rem;
    font-weight: 700; 
    margin-top: 2rem;
}

/* education */
.edu-item{
    margin-top: 2rem;
}

/* experience */ 
.exp-item{
    margin: 2rem;
}

/* awards */
.award-item{
    margin: 2rem;
}
/* interest */
.int-items{
    margin:2rem;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
    gap:2rem;
}
.interest-item{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;   
}
.interest-item svg{
width: 2rem;
}




