
/* Main container styling */
#home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background: linear-gradient(135deg, #242424, #343434);
  border-radius: 15px;
  border: 2px solid #ff7613;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

/* Title styling */
.home-title h1 {
  text-align: center;
  color: #fbfafa;
  font-size: 3.5em;
  font-family: 'Arial', sans-serif;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 2px solid #ff7613;
  padding-bottom: 10px;
}


.home-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ff7613;
}

/* Text section styling */
.home-me h3 {
  color: #ff7613;
  font-family: 'Arial', sans-serif;
  line-height: 1.7em;
  font-size: 1.3em;
  max-width: 600px;
  margin-right: 40px;
  text-align: justify;
  transition: transform 0.3s ease, color 0.3s ease;
}

.home-me h3:hover {
  color: #ff9c42;
  transform: scale(1.02);
}

.home-img img {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border: 3px solid #ff7613;
  transition: transform 0.3s ease;
}

.home-img img:hover {
  transform: scale(1.05);
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .home-info {
    flex-direction: column;
    text-align: center;
  }

  .home-me h3 {
    margin: 20px 0;
  }

  .home-img img {
    max-width: 100%;
  }
}
